body {
  text-align: center;
  background-color: #011F3F;
}

.table {
  margin: 1% auto;
}

.level-title,
.text {
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  line-height: 1.5;
}

.desktop {
  font-size: 3rem;
  margin: 5%;
  visibility: visible;
}

.mobile {
  font-size: 0;
  margin: 0;
  visibility: hidden;
}

.play-button {
  visibility: hidden;
}

.container {
  display: block;
  min-width: 50%;
  margin: auto;
}

.btn {
  margin: 5px;
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 10px solid black;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.green {
  background-color: green;
  border-radius: 100% 0 0 0;
}

.red {
  background-color: red;
  border-radius: 0 100% 0 0;
}

.blue {
  background-color: blue;
  border-radius: 0 0 100% 0;
}

.yellow {
  background-color: yellow;
  border-radius: 0 0 0 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 1024px) {
  .btn {
    margin: 1vw;
    max-width: 33vw;
    max-height: 33vw;
  }

  .desktop {
    font-size: 0;
    margin: 0;
    visibility: hidden;
  }

  .mobile {
    font-size: 2rem;
    margin: 5% auto;
    visibility: visible;
  }

  .play-button {
    font-family: 'Press Start 2P', cursive;
    background-color: #FEF2BF;
    color: #011F3F;
    border: none;
    padding: 10px 20px;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    display: block;
    max-width: 70%;
  }
}